{% extends "users/base.html" %}

    {% block content %}
    <section class="home" id="home">
        <div class="container text-center">
            <h1>All IIT Robotics Association</h1>
            <p>This is a community of tech enthusiasts trying to promote technical learning and implementation by conducting hackathons and other such competitons.</p>
        </div>
    </section>
    <hr>
    <section class="events" id="events">
        <div class="container text-center">
            <header class="section-header text-center p-5">
                <h1>Events</h1>
            </header>
            <div class="card container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-4 p-5">
                        <img class="card-img" src="../../static/users/images/Events/wall_e.jpg">
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 pt-5">
                        <h3>Event Title</h3>
                        <hr>
                        <div class="text-left px-5">
                            <p>Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description Event Description </p>
                            <p>Registration Deadline: DD/MM/YYYY</p>
                            <p>Event Timiline: XYZ</p>
                        </div>
                        <div class="event-link justify-content pt-5">
                            <a class="btn btn-lg btn-primary" href="#" role="button">More Details and Registrations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="sponsors" id="sponsors">
        <div class="container text-center">
            <header class="section-header p-5">
                <h1>Sponsors</h1>
                <p>Our endeavours are funded by the following companies</p>
            </header>
            <div class="row">
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/firefox.png">
                        <p>Firefox</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/hp.png">
                        <p>HP</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/uber.png">
                        <p>Uber</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/firefox.png">
                        <p>Firefox</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/hp.png">
                        <p>HP</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/uber.png">
                        <p>Uber</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/firefox.png">
                        <p>Firefox</p>
                    </a>
                </div>
                <div class="sponsor-item col-sm-3 col-md-3 col-4">
                    <a href="#">
                        <img src="../../static/users/images/Sponsors/hp.png">
                        <p>HP</p>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <section class="team" id="team">
        <div class="container text-center">
            <header class="section-header text-center p-5">
                <h1>Our Team</h1>
            </header>
            <div class="row">
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/Saksham_Katiyar.jpg" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/team_member.png" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/team_member.png" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/team_member.png" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/team_member.png" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="team-member col-md-4 col-sm-4 col-4 p-5">
                    <div class="card" style="width:100%">
                        <div class="member-image">
                            <img class="card-img-top" src="../../static/users/images/Team/team_member.png" alt="Card image" style="height: 70%">
                            <div class="overlay">
                                <ul class="icon-list">
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Member name</h6>
                            <p class="card-text">Designation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

